In [28]:
#라이브러리 불러오기
import numpy as np
import pandas as pd
from tqdm import tqdm

In [29]:
# R, F, M 데이터 불러오기
R = pd.read_csv("C:/Users/alsrn/파이썬/프롬데이원 1분기 20% 최근 구매일 점수 .csv")
F = pd.read_csv("C:/Users/alsrn/파이썬/프롬데이원 1분기 20% 주문수 점수 .csv")
M = pd.read_csv("C:/Users/alsrn/파이썬/프롬데이원 1분기 20% 구매액 점수 .csv")

In [30]:
print(R.head())
print(R.shape)

                     주문자ID번호  R점수
0              010-4424-2132    5
1                정다인ekdl****    5
2       sts1126010-2333-9158    5
3  1608705113@k010-3501-0244    5
4              010-9244-6315    5
(4774, 2)

In [31]:
print(F.head())
print(F.shape)

                  주문자ID번호  F점수
0  amber0504010-0000-0000    5
1  amanda123010-4786-6885    5
2       wood010-9599-9787    5
3     vminis010-8006-1617    5
4    sjin829010-3422-7118    5
(4774, 2)

In [32]:
print(M.head())
print(M.shape)

                      주문자ID번호  M점수         총구매액
0      amber0504010-0000-0000    5  198499193.3
1           wood010-9599-9787    5   51883949.0
2      amanda123010-4786-6885    5   42114915.0
3  sandychan0210010-6315-2572    5   23343850.0
4       mslove77010-9401-2384    5   20017500.0
(4774, 3)

In [33]:
# R, F, M 데이터 합치기
RF = pd.merge(R, F, on="주문자ID번호")
RFM = pd.merge(RF,M, on="주문자ID번호")

In [34]:
RFM.shape

(4774, 5)

In [35]:
# 합친 데이터 확인
RFM

                        주문자ID번호  R점수  F점수  M점수      총구매액
0                 010-4424-2132    5    5    5  581521.0
1                   정다인ekdl****    5    2    2   48500.0
2          sts1126010-2333-9158    5    3    4  285200.0
3     1608705113@k010-3501-0244    5    4    3  164200.0
4                 010-9244-6315    5    1    1   40500.0
...                         ...  ...  ...  ...       ...
4769      cocoa232010-6207-9785    1    2    1   10000.0
4770     aodrmaqls010-9074-8598    1    3    4  286200.0
4771     chickenkk010-8020-3315    1    2    2   79000.0
4772              010-9979-8331    1    1    2   51000.0
4773              010-9696-1839    1    1    1   36554.0

[4774 rows x 5 columns]

In [36]:
# RFM점수 칼럼 추가
RFM["RFM점수"] = RFM["M점수"]+RFM["F점수"]+RFM["R점수"]

In [37]:
rfm_score = RFM

In [38]:
rfm_score

                        주문자ID번호  R점수  F점수  M점수      총구매액  RFM점수
0                 010-4424-2132    5    5    5  581521.0     15
1                   정다인ekdl****    5    2    2   48500.0      9
2          sts1126010-2333-9158    5    3    4  285200.0     12
3     1608705113@k010-3501-0244    5    4    3  164200.0     12
4                 010-9244-6315    5    1    1   40500.0      7
...                         ...  ...  ...  ...       ...    ...
4769      cocoa232010-6207-9785    1    2    1   10000.0      4
4770     aodrmaqls010-9074-8598    1    3    4  286200.0      8
4771     chickenkk010-8020-3315    1    2    2   79000.0      5
4772              010-9979-8331    1    1    2   51000.0      4
4773              010-9696-1839    1    1    1   36554.0      3

[4774 rows x 6 columns]

In [39]:
def get_score(level, data, reverse = False):
    '''
    Description :
    level안에 있는 원소를 기준으로
    1 ~ len(level)+ 1 까지 점수를 부여하는 함수
    
    Parameters :
    level = 튜플 또는 리스트 타입의 숫자형 데이터이며 반드시 오름차순으로 정렬되어 있어야함.
    예 - [1,2,3,4,5] O, [5,4,3,2,1] X, [1,3,2,10,4] X 
    data = 점수를 부여할 데이터. 순회가능한(iterable) 데이터 형식
    reverse = 점수가 높을 때 그에 해당하는 값을 낮게 설정하고 싶을 때 True
    return :
    점수를 담고 있는 리스트 반환
    '''
    score = [] 
    for j in range(len(data)): 
        for i in range(len(level)): 
            if data[j] <= level[i]: 
                score.append(i+1) 
                break 
            elif data[j] > max(level): 
                score.append(len(level)+1) 
                break 
            else: 
                continue
    if reverse:
        return [len(level)+2-x for x in score]
    else:
        return score 
 
grid_number = 100 ## 눈금 개수, 너무 크게 잡으면 메모리 문제가 발생할 수 있음.
                #grid_number을 100보다 크게 잡으면 컴퓨터가 멈출 수 있어서 100으로 설정
weights = []
for j in range(grid_number+1): 
    weights += [(i/grid_number,j/grid_number,(grid_number-i-j)/grid_number)
                  for i in range(grid_number+1-j)]
num_class = 5 ## 클래스 개수
class_level = np.linspace(1,5,num_class+1)[1:-1] ## 클래스를 나누는 지점을 정한다, 등급의 기준점을 구함
total_amount_of_sales = rfm_score['총구매액'].sum() ## 구매금액 총합 = 총 매

In [ ]:
max_std = 0 ## 표준편차 값 초기값(표준편차 값 초기화)
for w in tqdm(weights,position=0,desc = '[Finding Optimal weights]'):
    ## 주어진 가중치에 따른 고객별 점수 계산
    score = w[0]*rfm_score['R점수'] + \
                        w[1]*rfm_score['F점수'] + \
                        w[2]*rfm_score['M점수']  # 가중치와 RFM 점수를 이용하여 고객별 총 점수를 구함
    rfm_score['Class'] = get_score(class_level,score,True) ## 구한 점수를 이용하여 고객별 등급 부여
    ## 등급별로 구매금액을 집계한다.
    grouped_rfm_score = rfm_score.groupby('Class')['총구매액'].sum().reset_index()
        
    ## 클래스별 구매금액을 총구매금액으로 나누어 클래스별 매출 기여도 계산
    grouped_rfm_score['총구매액'] = grouped_rfm_score['총구매액'].map(lambda x : x/total_amount_of_sales)
    std_sales = grouped_rfm_score['총구매액'].std() ## 매출 기여도의 표준편차 계산
    #현재 표준편차 값과 최대 표준편차 값을 비교하여 더 큰 값을 최대 표준편차 값으로 업데이트
    if max_std <= std_sales:
        max_std = std_sales ## 표준편차 최대값 업데이트
        optimal_weights = w  ## 가중치 업데이트

[Finding Optimal weights]:   3%|█▋                                                  | 171/5151 [01:11<37:50,  2.19it/s]

In [ ]:
print(optimal_weights) # 구해진 가중치 확인